body {
    & main {
        margin: 100px auto;
        max-width: 1350px;
        width: 96%;

        & section.section_cart-acc {
            margin: 150px 0 100px 0;

            & > h1 {
                margin-bottom: 50px;
                text-align: center;
                font-size: 48px;
                font-weight: 700;
            }
            
            & div.container_cart-acc {
                margin-inline: auto;
                max-width: 1300px;
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: 50px;

                & div.container_cart-form {
                    max-width: 760px;
                    width: 100%;
                    border-radius: 5px;

                    & div.container_form-header {
                        margin-bottom: 30px;
                        padding: 20px;
                        background-color: var(--secondary-dark);
                        border-radius: 5px;

                        & h1 {
                            font-size: 18px;
                            color: var(--secondary-light);
                            font-weight: 400;
                        }

                        & div.container_user-info {
                            display: flex;
                            flex-wrap: wrap;
                            gap: 5px;

                            & p {
                                font-size: 16px;
                            }
                        }
                    }

                    & div.container_form {
                        & > h1 {
                            margin: 15px 0;
                        }

                        & form {
                            & label {
                                margin: 20px 0;
                                display: block;
                                max-width: 760px;
                                width: 100%;
                                
                                & p {
                                    font-size: 14px;
                                    font-weight: 300;

                                    & span {
                                        color: var(--danger);
                                    }
                                }

                                & input[type="text"] {
                                    padding: 8px 20px;
                                    width: 100%;
                                    background-color: var(--secondary-dark);
                                    border: none;
                                    border-radius: 5px;
                                    font-weight: 300;
                                    color: var(--secondary-light);
                                }
                            }

                            & div.container_fullname, & div.container_city-country {
                                margin: -20px 0 !important;
                                width: 100%;
                                display: flex;
                                gap: 10px;
                            }

                            & div.container_cart-btn {
                                width: 100%;
                                display: flex;
                                gap: 10px;

                                & button {
                                    margin-top: 30px;
                                    padding: 7px 20px;
                                    width: 100%;

                                    &[type="button"] {
                                        background-color: var(--danger);
                                        color: var(--primary-light);
                                        text-decoration: none;
                                        font-weight: 400;

                                        &:hover {
                                            background-color: var(--danger-light);
                                        }
                                    }

                                    &[type="submit"] {
                                        background-color: var(--yellow);
                                        text-shadow: 0 0 5px var(--tertiary-dark);
                                        font-weight: 400;

                                        &:hover {
                                            background-color: var(--yellow-darken);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                & div.container_cart {
                    padding: 20px;
                    max-width: 440px;
                    width: 100%;
                    background-color: var(--secondary-dark);
                    border-radius: 5px;

                    & hr {
                        margin: 10px auto;
                        border: none;
                        height: 1.5px;
                        width: 100%;
                        background: var(--tertiary-dark);
                    }

                    & div.container_cart-header {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        & h1, & .edit {
                            font-size: 18px;
                        }
                    }

                    & div.container_cart-items {
                        position: relative;
                        height: 276px;
                        overflow-y: scroll;

                        &::-webkit-scrollbar {
                            width: 4px;
                        }
                          
                        &::-webkit-scrollbar-track {
                            background: var(--tertiary-light);
                        }
                          
                        &::-webkit-scrollbar-thumb {
                            background: var(--yellow);
                            border-radius: 4px;
                        }

                        & div.container_cart-empty {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            max-height: 250px;
                            height: 100%;
                            max-width: 250px;
                            width: 100%;
                            background-color: var(--tertiary-dark);
                            display: grid;
                            align-content: center;
                            border-radius: 50%;

                            & h1 {
                                margin-top: 10px;
                                font-size: 16px;
                                font-weight: 300;
                                color: var(--secondary-light);
                                text-align: center;
                            }

                            & p {
                                text-align: center;

                                & i {
                                    color: var(--secondary-light);
                                    font-size: 54px;
                                }
                            }
                        }
                        
                        & div.container_items-added {
                            position: relative;
                            margin: 20px 0;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 15px; 
                            z-index: 1;

                            & div.container_items-image {
                                display: grid;
                                place-items: center;
                                & img {
                                    max-width: 120px;
                                    width: 100%;
                                }
                            }

                            & div.container_items-description {
                                max-width: 280px;
                                width: 100%;

                                & h1.item-name {
                                    font-size: 18px;
                                    font-weight: 500;
                                    color: var(--yellow);
                                }

                                & p.item-info {
                                    font-size: 14px;
                                    font-weight: 300;
                                    color: var(--secondary-light);
                                }

                                & p.item-price {
                                    font-size: 14px;
                                    font-weight: 400;

                                    & span.item-quantity {
                                        color: var(--secondary-light);
                                        font-size: 12px;
                                    }
                                }
                            }
                        }
                    }

                    & div.container_delivery-discount {
                        & div.container_delivery {
                            display: flex;
                            justify-content: space-between;

                            & p.title-delivery, & p.delivery-fee {
                                font-size: 16px;
                                font-weight: 300;
                            }

                            & p.delivery-fee {
                                width: 124px;

                                & span {
                                    font-weight: 300;
                                    color: var(--secondary-light);
                                }
                            }
                        }

                        & div.container_discount {
                            display: flex;
                            justify-content: space-between;

                            & p.title-discount, & p.discount {
                                font-size: 16px;
                                font-weight: 300;
                            }

                            & p.discount {
                                width: 131px;
                            }
                        }
                    }

                    & div.container_total-amount {
                        & div.container_total {
                            display: flex;
                            justify-content: space-between;
                            & p.title-total, & p.total-amount {
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and
(max-width: 600px) {
    body {
        & main {
            & section.section_cart-acc {
                & > h1 {
                    margin-bottom: 30px !important;
                    font-size: 34px;
                }

                & div.container_cart-acc {
                    & div.container_cart {
                        & div.container_cart-items {
                            & div.container_cart-empty {
                                max-height: 200px;
                                height: 100%;
                                max-width: 200px;
                                width: 100%;

                                & h1 {
                                    margin-top: 10px;
                                    font-size: 12px;
                                    font-weight: 300;
                                    color: var(--secondary-light);
                                    text-align: center;
                                }
    
                                & p {
                                    text-align: center;
    
                                    & i {
                                        color: var(--secondary-light);
                                            font-size: 44px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


@media only screen and 
(max-width: 320px) {
    body {
        & main {
            & section.section_cart-acc {
                & > h1 {
                    margin-bottom: 20px !important;
                }
            }
        }
    }
}