body {
    & footer.footer_burgerhub {
        margin: 50px auto;
        max-width: 1350px;
        width: 97%;
        display: grid;
        grid-template-columns: 1fr 1.2fr .4fr .6fr;
        gap: 15px 15px;

        & section {
            padding: 0 15px;
        }

        & section.section_footer-description {
            border-radius: 10px;

            & h1.restaurant-name {
                line-height: 1;
                font-family: 'Grenze Gotisch';
                font-size: 34px;
                color: var(--yellow);
            }

            & p {
                margin-top: 12px;
                color: var(--secondary-light);
                font-weight: 300;
            }
        }

        & section.section_footer-contact {
            & p {
                margin: 5px 0;
                padding: 2px 0;
                color: var(--secondary-light);
                font-weight: 300;

                & span {
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 10px;
                    width: 32px;
                    height: 32px;
                    background: var(--secondary-dark);
                    border-radius: 16px;
                    text-align: center;

                    &:hover {
                        background-color: var(--yellow);
                        transition: all 550ms ease;

                        & i {
                            color: var(--primary-dark);
                        }
                    }

                    & > i {
                        color: var(--secondary-light);
                    }
                }
            }
        }

        & section.section_footer-links {
            & ul {
                list-style-type: none;

                & li {
                    & a {
                        color: var(--secondary-light);
                        font-weight: 300;
                        text-decoration: none;
                        font-size: 14px;
                        transition: all 350ms ease;

                        &:hover {
                            color: var(--yellow);
                        }
                    }
                }
            }
        }

        & section.section_footer-accounts {
            width: max-content;

            & ul {
                width: max-content;
                list-style-type: none;

                & li {
                    margin-inline: 3px;
                    padding: 3px 0;
                    width: 32px;
                    display: inline-block;
                    font-size: 14px;
                    text-align: center;
                    border-radius: 30px;
                    transition: all 350ms ease;

                    &:nth-child(1) {
                        background: var(--facebook);

                        &:hover {
                            background: var(--facebook-light);   
                        }
                    }

                    &:nth-child(2) {
                        background: var(--twitter);

                        &:hover {
                            background: var(--twitter-light);   
                        }
                    }

                    &:nth-child(3) {
                        background: var(--instagram);

                        &:hover {
                            background: var(--instagram-light);   
                        }
                    }

                    &:nth-child(4) {
                        background: var(--email);

                        &:hover {
                            background: var(--email-light);   
                        }
                    }
                }
            }
        }
    }
}

@media only screen and
(max-width: 750px) {
    body {
        & footer.footer_burgerhub {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
        }
    }
}

@media only screen and
(max-width: 600px) {
    body {
        & footer.footer_burgerhub {
            grid-template-columns: 1fr;
            grid-template-rows: auto auto auto;

            & section {
                & p {
                    font-size: 14px;
                }
                & h1 {
                    font-size: 24px;
                }
            }
        }
    }
}

@media only screen and
(max-width: 320px) {
    body {
        & footer.footer_burgerhub {
            grid-template-columns: 1fr;
            grid-template-rows: auto auto auto;

            & section {
                & h1 {
                    font-size: 18px;
                }
            }

            & section.section_footer-description {
                & h1.restaurant-name {
                    font-size: 24px;
                }
            }
        }
    }
}