@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@500&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import 'main-variables.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--primary-light);
    font-family: 'Inter', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    line-height: 1.8;
    font-weight: 500;
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    background: var(--secondary-light);
}

::-webkit-scrollbar-thumb {
    background: var(--yellow);
    border-radius: 10px;
    
}

button {
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

body {
    position: relative;
    background: var(--primary-dark);
    overflow-x: hidden;

    & .loader_burgerhub {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: var(--primary-dark);
        z-index: 5;
      
        & .container {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 72px;
            height: 72px;
            transform: translate(-50%, -50%);

            & p {
                position: inherit;
                text-align: center;
                bottom: -30px;
                left: 50%;
                transform: translateX(-50%);
            }

            & div {
                position: absolute;
                border: 4px solid #fff;
                opacity: 1;
                border-radius: 50%;
                animation: ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
            }
    
            & div:nth-child(2) {
                animation-delay: -0.5s;
            }
        }
    }
      

    & header.header_burgerhub {
        width: 100%;
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        padding: 15px 40px;
        background-color: transparent;
        transition: all 350ms ease-in-out;
        z-index: 1;

        & nav.navigation_burgerhub {
            margin: auto;
            max-width: 1350px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            & h1.restaurant-name {
                margin-bottom: 2px;
                font-family: 'Grenze Gotisch';
                font-size: 34px;
                color: var(--yellow);
            }

            & ul.nav_links {
                width: max-content;

                & li.active a {
                    color: var(--yellow);
                }

                & li#signin {
                    display: none;
                }

                & li.links {
                    padding: 0 8px;
                    display: inline-block;
                    font-size: 16px;
                    font-weight: 300;
                    text-align: center;

                    & a {
                        text-decoration: none;
                    }
                }
            }

            & div.navigation_right {
                width: max-content;
                display: flex;

                & button.button_signin, & p.cart {
                    display: inline-block;
                }

                & button.button_signin {
                    margin-inline: 5px;
                    padding: 3px 15px;
                    background-color: var(--yellow);
                    text-shadow: 0 0 5px var(--secondary-dark);

                    &:hover {
                        background-color: var(--yellow-darken);
                    }
                }

                & p.cart {
                    position: relative;
                    height: 30px;
                    width: 30px;
                    background: var(--secondary-dark);
                    border-radius: 50%;

                    & .fa-cart-shopping {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        font-size: 14px;
                    }

                    & span.cart_orders-quantity {
                        position: absolute;
                        bottom: -6px;
                        right: -6px;
                        padding: 0 6px;
                        background: var(--danger);
                        text-align: center;
                        border-radius: 10px;
                        font-size: 10px;
                    }
                }

                & .navigation_responsive {
                    display: none;
                }
            }
        }
    }

    & main {
        margin: 100px auto;
        max-width: 1350px;
        width: 97%;

        & section.section_landing-page {
            & .container_landing-page {
                position: relative;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                height: 580px;

                & .container_giant-burger {
                    & img {
                        position: absolute;
                        bottom: 0;
                        display: block;
                        margin-left: -180px;
                        width: 48vw;
                        max-width: 700px;
                    }
                    & .burger-shadow {
                        position: absolute;
                        top: 50%;
                        left: 0px;
                        transform: translateY(-50%);
                        height: 1px;
                        width: 1px;
                        background: transparent;
                        box-shadow: 0 0 200px 300px hsla(47, 100%, 54%, 0.05);
                        border-radius: 50%;
                        z-index: -1;
                    }
                }

                & .container_description {
                    margin-top: 80px;
                    position: relative;
                    max-width: 800px;
                    width: 100%;

                    & h1.tagline {
                        color: var(--yellow);
                        font-weight: 900;
                        font-size: 60px;
                        line-height: 1.2;
                        text-align: center;
                        text-shadow: 0 0 15px var(--secondary-dark);
                    }

                    & p.description {
                        margin: 20px auto;
                        width: 90%;
                        text-align: center;
                        text-shadow: 0 0 15px var(--secondary-dark);
                    }

                    & p.discount {
                        margin-inline: auto;
                        width: max-content;
                        padding: 0 30px;
                        font-size: 34px;
                        font-weight: 900;
                        border: 5px solid var(--yellow);
                        text-shadow: 0 0 15px var(--secondary-dark);
                    }

                    & div.container_contact-info {
                        position: absolute;
                        bottom: 20px;
                        right: 0;
                        max-width: 800px;
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
        
                        & .accounts {
                            & ul {
                                list-style-type: none;
        
                                & li {
                                    margin-inline: 2px;
                                    display: inline-flex;
                                    justify-content: center;
                                    align-items: center;
                                    height: 30px;
                                    width: 30px;
                                    border-radius: 15px;
                                    background: gray;
    
                                    &:nth-child(1) {
                                        background: var(--facebook);
                
                                        &:hover {
                                            background: var(--facebook-light);   
                                        }
                                    }
                
                                    &:nth-child(2) {
                                        background: var(--twitter);
                
                                        &:hover {
                                            background: var(--twitter-light);   
                                        }
                                    }
                
                                    &:nth-child(3) {
                                        background: var(--instagram);
                
                                        &:hover {
                                            background: var(--instagram-light);   
                                        }
                                    }
                
                                    &:nth-child(4) {
                                        background: var(--email);
                
                                        &:hover {
                                            background: var(--email-light);   
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        & section.section_top-seller-burger {
            margin: 100px 0 25px 0;

            & div.container_top-burger {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;

                & div.top-burger {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: center;
                    position: relative;
                    margin: 50px 10px;
                    padding: 20px;
                    height: 240px;
                    width: 260px;
                    background-color: var(--secondary-dark);
                    border-radius: 10px;

                    & h1, & p {
                        text-align: center;
                    }

                    & h1 {
                        font-weight: 400;
                    }

                    & p {
                        color: var(--secondary-light);
                        font-weight: 300;
                    }

                    & img {
                        position: absolute;
                        top: -70px;
                        display: block;
                        margin-inline: auto;
                        margin-bottom: 20px;
                        height: 150px;
                    }
                }
            }
        }

        & section.section_burger-layer {
            background-color: var(--secondary-dark);
            border-radius: 5px;

            & div.container_burger-layers {
                padding-top: 30px;
                width: 97%;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;

                & div.container_burger-image {
                    margin: 20px 50px;
                    & img {
                        display: block;
                        height: 480px;
                    }
                }

                & div.container_burger-contents {
                    margin: 20px 50px;
                    width: 350px;

                    & h1.burger-name {
                        font-weight: 500;
                    }

                    & p.burger-description {
                        font-size: 16px;
                        color: var(--secondary-light);
                        font-weight: 300;
                    }

                    & p.price {
                        color: var(--yellow);
                    }

                    & button {
                        margin: 10px 0;
                        background-color: var(--yellow);
                        padding: 7px 20px;
                        text-shadow: 0 0 5px var(--secondary-dark);

                        & a {
                            text-decoration: none;
                        }
                    }
                }
            }
        }

        & section.section_menu-types {
            margin: 100px 0;
            & div.container_menu-types {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;

                & div.container_menu {
                    position: relative;
                    margin: 10px;
                    max-height: 300px;
                    height: 100%;
                    max-width: 450px;
                    width: 100%;

                    & img {
                        height: 100%;
                        width: 100%;
                        border-radius: 10px;
                    }

                    & .menu-description {
                        padding: 20px;
                        position: absolute;
                        right: 0;
                        top: 0;
                        width: 50%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        background-color: var(--tertiary-dark);
                        border-radius: 0 10px 10px 0;

                        & h1 {
                            font-size: 18px;
                            font-weight: 400;
                        }

                        & p {
                            font-size: 14px;
                            font-weight: 300;
                            color: var(--secondary-light);
                        }

                        & button {
                            margin: 10px 0;
                            width: 100px;
                            padding: 5px;
                            background-color: var(--yellow);
                            text-shadow: 0 0 5px var(--secondary-dark);
                            font-size: 10px;
                        }
                    }
                }
            }
        }

        & section.section_profiles {
            margin: 50px 0;

            & div.container_profiles {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;

                & div.container-sphere {
                    margin: 30px 50px;
                    position: relative;
                    border: 2px solid var(--tertiary-light);
                    height: 350px;
                    width: 350px;
                    border-radius: 50%;
                    animation: rotate-sphere 30000ms linear infinite;

                    & div.image_centered, & div.image_circumference {
                        & img {
                            position: absolute;
                            border-radius: 50%;
                            box-shadow: 0 0 20px var(--tertiary-light);
                        }
                    }

                    & div.image_centered {
                        & img {
                            position: absolute;
                            top: 50%;
                            left: 50%; 
                            height: 120px;
                            width: 120px;
                            background: var(--primary-dark);
                            animation: rotate-center-image 30000ms linear infinite;
                        }
                        &::before {
                            content: "";
                            position: absolute;
                            height: 100%;
                            width: 100%;
                            border: .2px solid var(--tertiary-light);
                            border-radius: 50%;
                            transform: scale(0);
                            animation: ripple-image 1500ms linear infinite;
                        }
                        &::after {
                            content: "";
                            position: absolute;
                            height: 100%;
                            width: 100%;
                            border: .2px solid var(--tertiary-light);
                            border-radius: 50%;
                            transform: scale(0);
                            animation: ripple-image 1500ms linear 300ms infinite;
                        }
                    }

                    & div.image_circumference {
                        &:nth-child(2) {
                            & img {
                                top: 0;
                                left: 0;
                                height: 90px;
                                width: 90px;
                                background: var(--primary-dark);
                                animation: rotate-image 30000ms linear infinite;
                            }
                        }

                        &:nth-child(3) {
                            & img {
                                bottom: -30px;
                                transform: translateX(-20%);
                                left: 30%;
                                height: 80px;
                                width: 80px;
                                background: var(--primary-dark);
                                animation: rotate-image 30000ms linear infinite;
                            }
                        }

                        &:nth-child(4) {
                            & img {
                                top: 30%;
                                transform: translateY(-50%);
                                right: -50px;
                                height: 100px;
                                width: 100px;
                                background: var(--primary-dark);
                                animation: rotate-image 30000ms linear infinite;
                            }
                        }
                    }
                }

                & div.container_profile-quotes {
                    margin: 50px;
                    width: 400px;

                    & :is(.favicon-quote, .our-quote, .our-name, .our-position) {
                        text-align: center;
                        font-weight: 300;
                    }

                    & p.favicon-quote i {
                        color: var(--yellow);
                        font-size: 48px;
                    }

                    & p.our-quote {
                        margin: 25px 0;
                        color: var(--secondary-light);
                    }

                    & p.our-position {
                        font-size: 14px;
                        color: var(--secondary-light);
                    }
                }
            }
        }

        & section.section_download-menu {
            padding: 50px 0;
            background-color: var(--secondary-dark);
            border-radius: 5px;

            & div.container_download-menu {
                padding: 0 40px;
                margin-inline: auto;
                max-width: 1100px;
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
                gap: 10px;

                & h1, & button {
                    margin-inline: 10px;
                }

                & button {
                    padding: 10px 20px;
                    background-color: var(--yellow);
                    text-shadow: 0 0 5px var(--secondary-dark);
                    align-items: flex-end;
                }
            }
        }
    }

    & footer.footer_burgerhub {
        margin: 50px auto;
        max-width: 1350px;
        width: 97%;
        display: grid;
        grid-template-columns: 1fr 1.2fr .4fr .6fr;
        gap: 15px 15px;

        & section {
            padding: 0 15px;
        }

        & section.section_footer-description {
            border-radius: 10px;

            & h1.restaurant-name {
                line-height: 1;
                font-family: 'Grenze Gotisch';
                font-size: 34px;
                color: var(--yellow);
            }

            & p {
                margin-top: 12px;
                color: var(--secondary-light);
                font-weight: 300;
            }
        }

        & section.section_footer-contact {
            & p {
                margin: 5px 0;
                padding: 2px 0;
                color: var(--secondary-light);
                font-weight: 300;

                & span {
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 10px;
                    width: 32px;
                    height: 32px;
                    background: var(--secondary-dark);
                    border-radius: 16px;
                    text-align: center;

                    &:hover {
                        background-color: var(--yellow);
                        transition: all 550ms ease;

                        & i {
                            color: var(--primary-dark);
                        }
                    }

                    & > i {
                        color: var(--secondary-light);
                    }
                }
            }
        }

        & section.section_footer-links {
            & ul {
                list-style-type: none;

                & li {
                    & a {
                        color: var(--secondary-light);
                        font-weight: 300;
                        text-decoration: none;
                        font-size: 14px;
                        transition: all 350ms ease;

                        &:hover {
                            color: var(--yellow);
                        }
                    }
                }
            }
        }

        & section.section_footer-accounts {
            width: max-content;

            & ul {
                width: max-content;
                list-style-type: none;

                & li {
                    margin-inline: 3px;
                    padding: 3px 0;
                    width: 32px;
                    display: inline-block;
                    font-size: 14px;
                    text-align: center;
                    border-radius: 30px;
                    transition: all 350ms ease;

                    &:nth-child(1) {
                        background: var(--facebook);

                        &:hover {
                            background: var(--facebook-light);   
                        }
                    }

                    &:nth-child(2) {
                        background: var(--twitter);

                        &:hover {
                            background: var(--twitter-light);   
                        }
                    }

                    &:nth-child(3) {
                        background: var(--instagram);

                        &:hover {
                            background: var(--instagram-light);   
                        }
                    }

                    &:nth-child(4) {
                        background: var(--email);

                        &:hover {
                            background: var(--email-light);   
                        }
                    }
                }
            }
        }
    }
}

@media only screen and
(max-width: 750px) {
    body {
        & header.header_burgerhub {
            & nav.navigation_burgerhub {
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;

                & h1.restaurant-name {
                    font-size: 34px;
                }

                & ul.nav_links {
                    display: none;
                    margin: 50px 0;
                    opacity: 0;
                    order: 3;
                    width: 100%;
                    height: 100vh;
                    
                    & li#signin {
                        display: block;
                    }

                    & li.links {
                        padding: 8px 0;
                        width: 100%;
                        display: block;
                        font-size: 24px;
                    }

                    &.open {
                        opacity: 1;
                        display: block !important;
                    }
                }

                & div.navigation_right {
                    width: 50%;

                    & button.button_signin, & p.cart {
                        display: none;
                    }

                    & .navigation_responsive {
                        display: block;
                        width: max-content;
                        margin-left: auto;

                        & input[type="checkbox"] {
                            display: none;

                            &:checked + div.hamburger-menu {
                                & div.line-top {
                                    top: 50%;
                                    transform: translateY(-50%) rotate(45deg);
                                }

                                & div.line-middle {
                                    transform: translateX(-30px);
                                }

                                & div.line-bottom {
                                    top: 50%;
                                    transform: translateY(-50%) rotate(-45deg);
                                }
                            }
                        }

                        & div.hamburger-menu {
                            position: relative;
                            height: 23px;
                            width: 30px;
                            overflow: hidden;
                            cursor: pointer;
                            
                            & div.line-top, & div.line-middle, & div.line-bottom {
                                position: absolute;
                                height: 4px;
                                border-radius: 15px;
                                background: var(--yellow);
                                transition: all 150ms ease-in;
                            }

                            & div.line-top {
                                top: 0;
                                left: 0px;
                                width: 100%;
                            }

                            & div.line-middle {
                                top: 50%;
                                transform: translateY(-50%);
                                width: 20px;
                                transition: all 150ms ease-in;
                            }

                            & div.line-bottom {
                                bottom: 0;
                                width: 100%;
                            }
                        }
                    }
                }
            }

            &.dark {
                background-color: var(--primary-dark) !important;
            }
        }

        & main {
            & section.section_landing-page {
                & .container_landing-page {
                    height: 520px;

                    & .container_giant-burger {
                        height: 100%;
                        & img {
                            margin-left: -100px;
                            width: 100%;
                            max-width: 380px;
                        }
                        & .burger-shadow {
                            position: absolute;
                            bottom: -150px;
                            right: 0;
                            transform: translateY(-50%);
                            height: 1px;
                            width: 1px;
                            background: transparent;
                            box-shadow: 0 0 100px 100px hsla(47, 100%, 54%, 0.05);
                            border-radius: 50%;
                            z-index: -1;
                        }
                    }
    
                    & .container_description {
                        margin-top: 10px;
    
                        & h1.tagline {
                            font-size: 44px;
                        }
    
                        & p.description {
                            font-size: 16px;
                        }
    
                        & p.discount {
                            margin-inline: auto;
                            width: max-content;
                            padding: 0 20px;
                            font-size: 24px;
                            font-weight: 900;
                            border: 5px solid var(--yellow);
                        }
    
                        & div.container_contact-info {
                            bottom: 0;
                            justify-content: space-between;
                            align-items: center;
            
                            & .accounts {
                                & ul {
                                    & li {
                                        margin: 5px 0;
                                    }
                                }
                            }

                            & div.tel-number p {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }

            & section.section_top-seller-burger {
                margin: 100px 0 25px 0;
    
                & div.container_top-burger {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
    
                    & div.top-burger {
                        margin: 45px 10px;
                        height: 220px;
                        width: 240px;
                        
                        & h1, & p {
                            text-align: center;
                        }
    
                        & h1 {
                            font-size: 18px;
                        }
    
                        & p {
                            font-size: 14px;
                        }
    
                        & img {
                            position: absolute;
                            top: -70px;
                            display: block;
                            margin-inline: auto;
                            margin-bottom: 20px;
                            height: 150px;
                        }
                    }
                }
            }

            & section.section_burger-layer {
                & div.container_burger-layers {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: center;
    
                    & div.container_burger-image {
                        margin: 0;
                        & img {
                            display: block;
                            height: 400px;
                        }
                    }
    
                    & div.container_burger-contents {
                        margin: 20px 50px;
                        width: 350px;
    
                        & h1.burger-name {
                            font-size: 18px;
                        }
    
                        & p.burger-description {
                            font-size: 14px;
                        }
    
                        & p.price {
                            color: var(--yellow);
                        }
    
                        & button {
                            padding: 6px 18px;
                            font-size: 12px;
    
                            & a {
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }

        & footer.footer_burgerhub {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
        }
    }
}

@media only screen and
(max-width: 600px) {
    body {
        & header.header_burgerhub {
            & nav.navigation_burgerhub {
                & div.navigation_right {
                    width: max-content;
                }
            }
        }

        & main {
            & section.section_landing-page {
                & .container_landing-page {
                    & .container_giant-burger {
                        & img {
                            margin-left: -100px;
                            width: 100%;
                            max-width: 280px;
                        }
                    }
    
                    & .container_description {
                        margin-top: 20px;
    
                        & h1.tagline {
                            font-size: 34px;
                        }
    
                        & p.description {
                            font-size: 14px;
                        }
    
                        & p.discount {
                            margin-inline: auto;
                            width: max-content;
                            padding: 0 20px;
                            font-size: 18px;
                            font-weight: 800;
                            border: 5px solid var(--yellow);
                        }
    
                        & div.container_contact-info {
                            flex-direction: column;
                            justify-content: flex-end;
                            align-items: flex-end;
            
                            & .accounts {
                                & ul {
                                    margin: 15px 0;
                                    display: inline-flex;
                                    flex-direction: column;

                                    & li {
                                        margin: 5px 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            & section.section_menu-types {
                & div.container_menu-types {
                    & div.container_menu {
                        height: 200px;
    
                        & .menu-description {
                            & h1 {
                                font-size: 14px;
                                font-weight: 400;
                            }
    
                            & p {
                                font-size: 10px;
                                font-weight: 300;
                                color: var(--secondary-light);
                            }
    
                            & button {
                                margin: 5px 0;
                                width: 80px;
                                padding: 5px 10px;
                                font-size: 8px;
                            }
                        }
                    }
                }
            }

            & section.section_profiles {
                & div.container_profiles {
                    & div.container-sphere {
                        height: 220px;
                        width: 220px;
    
                        & div.image_centered {
                            & img {
                                position: absolute;
                                top: 50%;
                                left: 50%; 
                                height: 80px;
                                width: 80px;
                                background: var(--primary-dark);
                                animation: rotate-center-image 30000ms linear infinite;
                            }
                        }
    
                        & div.image_circumference {
                            &:nth-child(2) {
                                & img {
                                    top: 0;
                                    left: 0;
                                    height: 60px;
                                    width: 60px;
                                }
                            }
    
                            &:nth-child(3) {
                                & img {
                                    bottom: -30px;
                                    transform: translateX(-20%);
                                    left: 30%;
                                    height: 60px;
                                    width: 60px;
                                }
                            }
    
                            &:nth-child(4) {
                                & img {
                                    top: 30%;
                                    transform: translateY(-50%);
                                    right: -30px;
                                    height: 60px;
                                    width: 60px;
                                }
                            }
                        }
                    }
    
                    & div.container_profile-quotes {
                        & :is(.favicon-quote, .our-quote, .our-name, .our-position) {
                            text-align: center;
                        }
    
                        & p.favicon-quote i {
                            color: var(--yellow);
                            font-size: 34px;
                        }

                        & p.our-quote {
                            margin: 10px 0;
                        }

                        & h1.our-name {
                            font-size: 18px;
                        }
    
                        & p.our-position {
                            font-size: 14px;
                            color: var(--secondary-light);
                        }
                    }
                }
            }

            & section.section_download-menu {
                padding: 30px 0;
    
                & div.container_download-menu {
                    padding: 0 40px;
                    justify-content: center;

                    & h1 {
                        font-size: 18px;
                    }
    
                    & button {
                        padding: 10px 30px;
                        font-size: 14px;
                    }
                }
            }
        }

        & footer.footer_burgerhub {
            grid-template-columns: 1fr;
            grid-template-rows: auto auto auto;

            & section {
                & p {
                    font-size: 14px;
                }
                & h1 {
                    font-size: 24px;
                }
            }
        }
    }
}

@media only screen and
(max-width: 320px) {
    body {
        & header.header_burgerhub {
            & nav.navigation_burgerhub {
                & ul.nav_links {
                    & li.links {
                        font-size: 18px;
                    }
                }
            }
        }

        & main {
            & section.section_landing-page {
                & .container_landing-page {
                    & .container_description {
                        margin-top: 20px;
    
                        & h1.tagline {
                            font-size: 24px;
                        }
                    }
                }
            }
        }

        & footer.footer_burgerhub {
            grid-template-columns: 1fr;
            grid-template-rows: auto auto auto;

            & section {
                & h1 {
                    font-size: 18px;
                }
            }

            & section.section_footer-description {
                & h1.restaurant-name {
                    font-size: 24px;
                }
            }
        }
    }
}

@keyframes ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    4.9% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    5% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
}

@keyframes rotate-image {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

@keyframes rotate-sphere {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotate-center-image {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(-360deg);
    }
}

@keyframes ripple-image {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}


