body {
    & main {
        margin: 100px auto;
        max-width: 1350px;
        width: 96%;

        & section.section_featured-products {
            margin: 150px auto 50px auto;
            width: 100%;
            
            & > h1 {
                margin: 20px 0;
                text-align: center;
                color: var(--yellow);
                font-weight: 800;
            }

            & div.container_featured-products {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: stretch;
                gap: 20px;
                width: 100%;

                & div.container_products {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 20px;
                    max-width: 400px;
                    width: 100%;
                    background-color: var(--secondary-dark);
                    border-radius: 5px;
                    gap: 20px;

                    & div.container_image {
                        & img {
                            display: block;
                            margin-inline: auto;
                            max-width: 220px;
                            width: 100%;
                        }
                    }
                    & div.container_description {
                        width: 350px;

                        & h1 {
                            font-size: 18px;
                        }

                        & p {
                            margin: 3px 0;
                            font-size: 14px;
                            color: var(--secondary-light);
                            font-weight: 300;
                        }

                        & div.container_price-order {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            & p.price {
                                color: var(--primary-light);
                                font-weight: 500;
                            }

                            & button {
                                padding: 5px 14px;
                                background-color: var(--yellow);
                                font-size: 12px;
                                text-shadow: 0 0 5px var(--tertiary-dark);
                                font-weight: 300;

                                &:hover {
                                    background-color: var(--yellow-darken);
                                }

                                &:hover {
                                    background-color: var(--yellow-darken);
                                }

                                & span {
                                    text-shadow: none;
                                }

                                & a {
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                }
            }
        }

        & section.section_burgers-menu {
            margin: 50px auto;
            width: 100%;
            
            & > h1 {
                margin: 20px 0;
                text-align: center;
                color: var(--yellow);
                font-weight: 800;
            }

            & div.container_burgers-menu {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: stretch;
                gap: 20px;
                width: 100%;

                & div.container_burgers {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 20px;
                    max-width: 400px;
                    width: 100%;
                    background-color: var(--secondary-dark);
                    border-radius: 5px;
                    gap: 20px;

                    & div.container_image {
                        & img {
                            display: block;
                            margin-inline: auto;
                            max-width: 200px;
                            width: 100%;
                        }
                    }
                    & div.container_description {
                        width: 350px;

                        & h1 {
                            font-size: 18px;
                        }

                        & p {
                            margin: 3px 0;
                            font-size: 14px;
                            color: var(--secondary-light);
                            font-weight: 300;
                        }

                        & div.container_price-order {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            & p.price {
                                color: var(--primary-light);
                                font-weight: 500;
                            }

                            & button {
                                padding: 5px 12px;
                                background-color: var(--yellow);
                                font-size: 12px;
                                text-shadow: 0 0 5px var(--tertiary-dark);
                                font-weight: 300;

                                &:hover {
                                    background-color: var(--yellow-darken);
                                }

                                & span {
                                    text-shadow: none;
                                }

                                & a {
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                }
            }
        }

        & section.section_pizza-menu {
            margin: 50px auto;
            width: 100%;
            
            & > h1 {
                margin: 20px 0;
                text-align: center;
                color: var(--yellow);
                font-weight: 800;
            }

            & div.container_pizza-menu {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: stretch;
                gap: 20px;
                width: 100%;

                & div.container_pizza {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 20px;
                    max-width: 400px;
                    width: 100%;
                    background-color: var(--secondary-dark);
                    border-radius: 5px;
                    gap: 20px;

                    & div.container_image {
                        & img {
                            display: block;
                            margin-inline: auto;
                            max-width: 200px;
                            width: 100%;
                        }
                    }
                    & div.container_description {
                        width: 350px;

                        & h1 {
                            font-size: 18px;
                        }

                        & p {
                            margin: 3px 0;
                            font-size: 14px;
                            color: var(--secondary-light);
                            font-weight: 300;
                        }

                        & div.container_price-order {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            & p.price {
                                color: var(--primary-light);
                                font-weight: 500;
                            }

                            & button {
                                padding: 5px 14px;
                                background-color: var(--yellow);
                                font-size: 12px;
                                text-shadow: 0 0 5px var(--tertiary-dark);
                                font-weight: 300;

                                &:hover {
                                    background-color: var(--yellow-darken);
                                }

                                & span {
                                    text-shadow: none;
                                }

                                & a {
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                }
            }
        }

        & section.section_fries-menu {
            margin: 50px auto;
            width: 100%;
            
            & > h1 {
                margin: 20px 0;
                text-align: center;
                color: var(--yellow);
                font-weight: 800;
            }

            & div.container_fries-menu {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: stretch;
                gap: 20px;
                width: 100%;

                & div.container_fries {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 20px;
                    max-width: 400px;
                    width: 100%;
                    background-color: var(--secondary-dark);
                    border-radius: 5px;
                    gap: 20px;

                    & div.container_image {
                        & img {
                            display: block;
                            margin-inline: auto;
                            max-height: 140px;
                            height: 100%;
                            max-width: 200px;
                            width: 100%;
                        }
                    }
                    & div.container_description {
                        width: 350px;

                        & h1 {
                            font-size: 18px;
                        }

                        & p {
                            margin: 3px 0;
                            font-size: 14px;
                            color: var(--secondary-light);
                            font-weight: 300;
                        }

                        & div.container_price-order {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            & p.price {
                                color: var(--primary-light);
                                font-weight: 500;
                            }

                            & button {
                                padding: 5px 14px;
                                background-color: var(--yellow);
                                font-size: 12px;
                                text-shadow: 0 0 5px var(--tertiary-dark);
                                font-weight: 300;

                                &:hover {
                                    background-color: var(--yellow-darken);
                                }

                                & span {
                                    text-shadow: none;
                                }

                                & a {
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                }
            }
        }

        & section.section_drinks-menu {
            margin: 50px auto;
            width: 100%;
            
            & > h1 {
                margin: 20px 0;
                text-align: center;
                color: var(--yellow);
                font-weight: 800;
            }

            & div.container_drinks-menu {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: stretch;
                gap: 20px;
                width: 100%;

                & div.container_drinks {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 20px;
                    max-width: 400px;
                    width: 100%;
                    background-color: var(--secondary-dark);
                    border-radius: 5px;
                    gap: 20px;

                    & div.container_image {
                        & img {
                            display: block;
                            margin-inline: auto;
                            max-height: 200px;
                            height: 100%;
                            max-width: 200px;
                            width: 100%;
                        }
                    }
                    & div.container_description {
                        width: 350px;

                        & h1 {
                            font-size: 18px;
                        }

                        & p {
                            margin: 3px 0;
                            font-size: 14px;
                            color: var(--secondary-light);
                            font-weight: 300;
                        }

                        & div.container_price-order {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            & p.price {
                                color: var(--primary-light);
                                font-weight: 500;
                            }

                            & button {
                                padding: 5px 14px;
                                background-color: var(--yellow);
                                font-size: 12px;
                                text-shadow: 0 0 5px var(--tertiary-dark);
                                font-weight: 300;

                                &:hover {
                                    background-color: var(--yellow-darken);
                                }

                                & span {
                                    text-shadow: none;
                                }

                                & a {
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and
(max-width: 600px) {
    body {
        & main {
            & section {
                & p {
                    font-size: 16px !important;
                }
            }
        }
    }
}


@media only screen and 
(max-width: 320px) {
    body {
        & main {
            & section {
                & p {
                    font-size: 14px !important;
                }

                & button {
                    font-size: 10px !important;
                }
            }
        }
    }
}