body {
    & main {
        margin: 100px auto;
        max-width: 1350px;
        width: 96%;

        & section.section_order-status {
            margin: 150px auto 100px auto;
            max-width: 700px;
            width: 100%;

            & div.container_heading-status {
                margin: 20px 0;
                & p.favicon {
                    text-align: center;
                    font-size: 54px;
                    line-height: 1;

                    & i {
                        color: var(--yellow);
                    }
                }

                & h1 {
                    text-align: center;
                    font-weight: 700;
                }
            }

            & form {
                & select {
                    margin-bottom: 12px;
                    padding: 7px 20px;
                    background-color: var(--secondary-dark);
                    border: none;
                    border-radius: 5px;
                }
            }

            & div.container_order-status {
                display: flex;
                flex-direction: column;
                gap: 10px;
                max-height: 425px;
                height: 100%;
                overflow-y: scroll;

                &::-webkit-scrollbar {
                    width: 3px;
                }
                
                &::-webkit-scrollbar-track {
                    background: var(--tertiary-light);
                }
                
                &::-webkit-scrollbar-thumb {
                    background: var(--yellow);
                    border-radius: 3px;
                }

                & div.container_order-status-entry {
                    padding: 7px 20px;
                    background-color: var(--secondary-dark);
                    border-radius: 5px;

                    & p {
                        font-weight: 300;
                        color: var(--secondary-light);

                        &.orderNo {
                            color: var(--primary-light);
                        }

                        & span {
                            font-weight: 300;
                        }
                    }

                    & div.container_orderNo-Date, & div.container_quantity-amount {
                        display: flex;
                        justify-content: space-between;

                        & p {
                            font-weight: 300;
                            color: var(--secondary-light);

                            &.orderNo {
                                color: var(--primary-light);
                            }

                            & span {
                                font-weight: 300;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and
(max-width: 600px) {
    body {
        & main {
            & section.section_order-status {
                & div.container_order-status {
                    & div.container_order-status-entry {
                        & p {
                            font-size: 14px;
                            & span {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
}


@media only screen and 
(max-width: 320px) {
    body {
        & main {
            & section.section_order-status {
                margin: 130px auto;

                & div.container_order-status {
                    & div.container_order-status-entry {
                        & p {
                            font-size: 12px;
                            & span {
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
    }
}