body {
    & main {
        margin: 100px auto;
        max-width: 1350px;
        width: 96%;

        & section.section_signup {
            margin: 150px 0 100px 0;
            
            & div.container_signup {
                padding: 50px;
                margin: auto;
                background-color: var(--secondary-dark);
                max-width: 600px;
                width: 90%;
                border-radius: 5px;

                & div.container_title {
                    margin-bottom: 15px;

                    & h1, & p {
                        padding: 5px 0;
                        text-align: center;
                    }
    
                    & h1 {
                        font-size: 34px;
                        font-weight: 500;
                        line-height: 1;
                    }
    
                    & p {
                        font-size: 14px;
                        color: var(--secondary-light);
                        font-weight: 300;
    
                        & a {
                            color: var(--yellow);
                            text-decoration: none;
                            font-weight: 300;
    
                            &:hover {
                                color: var(--yellow-darken);
                            }
                        }
                    }
                }

                & div.container_form {
                    & form {
                        & div.container_fullname {
                            margin-bottom: 10px;
                            width: 100%;
                            display: flex;
                            gap: 10px;
                        }

                        & p.reminder {
                            padding: 5px 0;
                            font-size: 12px;
                            font-weight: 300;
                            color: var(--secondary-light);
                        }

                        & div.container_password {
                            display: flex;
                            gap: 10px;
                        }

                        & p {
                            font-size: 12px;
                            font-weight: 300;

                            &.err_message {
                                line-height: 1;
                                color: var(--danger);
                            }
                        }

                        & label {
                            &[for="email"] {
                                margin-bottom: 10px;
                            }

                            width: 100%;
                            display: block;

                            & p {
                                padding: 5px 0;
                                font-size: 12px;
                                font-weight: 300;
                            }

                            & input[type="text"], & input[type="password"] {
                                padding: 7px 15px;
                                width: 100%;
                                border: none;
                                border: 2px solid var(--tertiary-light);
                                border-radius: 5px;
                                background: transparent;
                                font-weight: 300;
                                color: var(--secondary-light);

                                &::-ms-reveal, &::-ms-clear {
                                    display: none;
                                }
                            }

                            & .container_password, & .container_confirm-password {
                                position: relative;

                                & span.checkbox_password {
                                    position: absolute;
                                    right: 15px;
                                    top: 50%;
                                    transform: translateY(-50%);

                                    & input[type="checkbox"] {
                                        display: none;

                                        &:checked + .icon_hide-password {
                                            color: var(--primary-light);
                                        }
                                    }

                                    & .icon_hide-password {
                                        cursor: pointer;
                                        color: var(--secondary-light);
                                        font-size: 14px;
                                        transition: all 350ms ease-in-out;
    
                                        &:hover {
                                            color: var(--primary-light);
                                        }
                                    }
                                }
                            }

                            & #error_message-required, & #error_message-invalid, & #error_message-incorrect {
                                display: none;
                                margin: 0;
                                color: var(--danger);
                                font-size: 14px;
                                font-weight: 300;
                            }
                        }

                        & button#signup_btn {
                            margin-top: 10px;
                            padding: 7px;
                            width: 100%;
                            background-color: var(--yellow);
                            transition: all 350ms ease-in-out;
                            text-shadow: 0 0 5px var(--tertiary-dark);

                            &:hover {
                                background-color: var(--yellow-darken);
                            }
                        }

                        & div.signup_keep-logged {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            & label {
                                display: block;
                                margin: 0;

                                & p {
                                    font-size: 14px;
                                    font-weight: 300;
                                    color: var(--secondary-light);
                                }
                            }
                            & p {
                                padding: 5px 0;
                                font-size: 14px;
                                font-weight: 300;

                                & a {
                                    font-size: 14px;
                                    font-weight: 300;
                                    color: var(--secondary-light);
                                    transition: all 350ms ease-in-out;

                                    &:hover {
                                        color: var(--yellow);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and
(max-width: 600px) {
    body {
        & main {
            & section.section_signup {
                & div.container_signup {
                    padding: 30px;

                    & div.container_title {
                        & h1 {
                            font-size: 24px;
                        }
                    }
                }
            }
        }
    }
}


@media only screen and 
(max-width: 320px) {
    body {
        & main {
            & section.section_signup {
                margin: 150px 0 0 0;
                
                & div.container_signup {
                    padding: 20px;

                    & div.container_title {
                        & h1 {
                            font-size: 18px;
                        }

                        & p {
                            font-size: 10px;
                        }
                    }

                    & .container_form {
                        & form {
                            & label {
                                & #error_message-required, & #error_message-invalid, & #error_message-incorrect {
                                    font-size: 10px !important;
                                }
                            }
                            & div.signup_keep-logged {
                                & label {
                                    & p {
                                        font-size: 10px !important;
                                    }
                                }
                                & p a {
                                    font-size: 10px !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}